%h1
  %span#gem_name= gem.gem_name
  is loved by
  %span#fan_count= fan_count
  = fan_count == 1 ? "person" : "people"
%h3 Gem Info
%ul
  %li
    %a{:href => gem.url} Homepage
%h3 Notes of appreciation
%ul#gem_notes.notes
  =render :haml, :notes, :locals => { :notes => gem.notes }, :layout => false
